<nav class="nav navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler w-100" type="button" data-toggle="collapse" data-target="#navbarNavDropdown2" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> Panel
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown2">

        <div class="row">
            <form action="" class="col-12 py-2 shadow-lg text-center w-100 bg-dark px-4">
                <h2 class="my-3"><span class="text-danger" style="font-size: 40px;">S</span>tudent <span class="text-danger">l</span>ogin</h2>
                <div class="form-group">
                    <input type="text" id="studentname" class="form-control" placeholder="Enter user name">
                </div>
                <div class="form-group">
                    <input type="password" id="studentpassword" class="form-control" placeholder="Password">
                </div>
                <div class="form-group justify-content-center">
                    <button type="button" id="loginstudent" class="btn btn-primary w-100 ">Login</button>
                </div>
            </form>
            <div class="w-100 border-bottom border-primary"></div>
            <form action="" class="py-2 col-12 shadow-lg text-center w-100 bg-dark px-4">
                <h2 class="my-3"><span class="text-danger" style="font-size: 40px;">T</span>eacher <span class="text-danger">l</span>ogin</h2>
                <div class="form-group">
                    <input type="text" id="teachername" class="form-control" placeholder="Enter  teacher name">
                </div>
                <div class="form-group">
                    <input type="password" id="password1"class="form-control" placeholder="Password">
                </div>
                <div class="form-group justify-content-center">
                    <button type="button" id="loginteacher"class="btn btn-primary w-100 ">Login</button>
                </div>
            </form>
        </div>
       

        <!-- import your sidebar here (sidebar.forms.html,admin.sidebar.html,stuff.sidebar.html) -->
        <!-- end of side bar importing -->
    </div>
</nav>
<script>
    $(document).ready(function () {
        $('#loginstudent').click(function () {
            login_student();
        })
        $('#loginteacher').click(function () {
            login_teacher();
        })
    })
    function login_teacher() {
        var name = $('#teachername').val();
        var password = $('#password1').val();
       
        //var id = $('#id').val(id);
        if (name == "" || name == undefined) {
            alert("teacher name is required")
        } else if (password == "" || password == undefined) {
            alert("password is required")
        }
        else {
            $.ajax({

                url: "/Addteacher/login?user_name=" + name + "&password=" + password,
                type: "Get",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result != "error") {

                        alert('Login is successfully');
                        window.location = "/Addteacher/Detailsteacher?id=" + result;

                    } else {
                        alert('برجاء ادخال الاسم صحيح او كلمت السر؟؟');
                    }

                },

            });
        }

    }
    function login_student() {
        var namestudent = $('#studentname').val();
        var passwordstudent = $('#studentpassword').val();
        ///var id = $('#id').val(id);
        if (namestudent == "" || namestudent == undefined) {
            alert("student name is required")
        } else if (passwordstudent == "" || passwordstudent == undefined) {
            alert("studentpassword is required")
        }
        else {
            $.ajax({

                url: "/Students/login_student?username=" + namestudent + "&password=" + passwordstudent,
                type: "Get",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result =="error") {
                        
                        alert('برجاء ادخال الاسم صحيح او كلمت السر؟؟');
                    } else {
                       
                   
                        alert('Login is successfully');
                        window.location = "/Students/DetailsStudent?id=" + result;
                    }

                },

            });
        }

    }

</script>