
<div class="list-group text-center flex-column w-100 shadow-lg border-right border-mag">
    <h3 class="py-3 alert-mag m-0">Student panel</h3>
    <img src="smartphone-png-17251.png" class="my-3 shadow col-6 offset-3 border-mag border" alt="">
    <h5 class="text-center lead text-mag font-weight-bold text-capitalize">mohammed asaad</h5>
    <a href="#" class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list">Home </a>
    <a href="#" class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list">My profile</a>
    <a href="#" class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list">Leave</a>
    <a href="#" class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list">Complain</a>
    <a href="#" class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list">Attendance report</a>
    <a href="#" class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list">Password</a>
    <a href="#" class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list">Log out</a>
</div>
