<div class="list-group text-center flex-column w-100 shadow-lg border-right border-danger">
    <h3 class="py-3 alert-danger m-0">Teacher panel</h3>
    <img src="smartphone-png-17251.png" class="my-3 shadow col-6 offset-3 border-danger border" alt="">
    <h5 class="text-center lead text-danger font-weight-bold text-capitalize">mohammed asaad</h5>

    <a href="http://localhost:20478/Students/addStudentcomponent" class="list-group-item list-group-item-action"  >Add student</a>
    <a href="http://localhost:20478/Students/studentsReports_component" class="list-group-item list-group-item-action" id="list-home-list">Student reports</a>
    <a href="http://localhost:20478/Students/AttendanceStudent" class="list-group-item list-group-item-action" id="list-home-list">Attendance</a>
    <a href="http://localhost:20478/Students/attendanceReportstudent" class="list-group-item list-group-item-action" id="list-home-list">Attendance report</a>
    <a href="http://localhost:20478/Students/advanceAttReports_component" class="list-group-item list-group-item-action" id="list-home-list">Advance report</a>
   
    <a href="http://localhost:20478" class="list-group-item list-group-item-action" >Log out</a>
</div>
