
@{
    ViewBag.Title = "changepassword";
}

<div class="container-fluid">
    <div class="row">
        <div id="show" class="h-100 col-lg-3 col-md-4 text-center p-0 overflow-hidden d-md-block text-white border-right col-sm-12">
            <nav class="nav navbar-expand-md navbar-light bg-light">
                <button class="navbar-toggler w-100" type="button" data-toggle="collapse" data-target="#navbarNavDropdown2" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> Panel
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown2">
                    <!-- import your sidebar here (sidebar.forms.html,admin.sidebar.html,stuff.sidebar.html) -->
                    <!-- end of side bar importing -->
                    @Html.Partial("Partial1");
                </div>
            </nav>

        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 justify-content-center">



            <div class="row justify-content-center my-5 border border-danger p-4">
                <h3 class="text-danger my-3 col-12">Change password</h3>
                <input type="password" id="Oldpassword" class="form-control col-lg-3 m-2  btn-outline-danger" placeholder="Old password">
                <input type="password" id="Newpassword" class="form-control col-lg-3 m-2  btn-outline-danger" placeholder="New password">
                <input type="password" id="Confirmpassword" class="form-control col-lg-3 m-2  btn-outline-danger" placeholder="Confirm password">
                <button type="button" id="Updatepassword" class="btn btn-danger  col-lg-4 m-2">Update password</button>
                <script src="~/Scripts/jquery-1.10.2.min.js"></script>
                <input type="hidden" id="idd" value="@ViewBag.id" />
            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
       
        $('#Updatepassword').click(function () {
            var Oldpassword = $('#Oldpassword').val();
            var Newpassword = $('#Newpassword').val();
            var id = $('#idd').val();
            var Confirmpassword = $('#Confirmpassword').val();
                $.ajax({

                    url: "/Addteacher/changepassword2?newpassword=" + Newpassword + "&comfer_password=" + Confirmpassword +"&id=" + id+ "&password=" + Oldpassword ,
                    type: "post",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result==true) {
                            alert(' Update save ');
                        } else {
                            alert(' the password isn,t quiu comfer password ');
                        }
           
                        
                       
                    },

                });

            })
   
    });
</script>
